﻿@model IEnumerable<WorkPlanner.api.Models.Work>

@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder)
        </th>*@
        <th>
            Target Date
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Cost)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.EngineerManDaysRequired)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SpecialistSkillsRequired)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PerformanceStatutoryObligation)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PerformanceNOM)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.PerformanceCustomerConnection)
    </th>
        <th>
            Risk
        </th>
        <th>
            Commission Date
        </th>*@
        <th>
            Asset
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            Work Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrder)
        </td>*@
        <td>
            @item.TargetDate.Value.ToString("dd/MM/yyyy")
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineerManDaysRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialistSkillsRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceStatutoryObligation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceNOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceCustomerConnection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FigurativeRisk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Outage.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkID })
        </td>
    </tr>
}

</table>
