﻿<div class="form-group row">
    <div class="col-md-6 col-md-offset-3">
        <label for="setupBudget" class="control-label">Budget</label>
        <div class="input-group">
            <div class="input-group-addon">£</div>
            <input type="number" class="form-control" name="setupBudget" placeholder="Amount" ng-model="formData.budget" required>
            <div class="input-group-addon">.00</div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-6 col-md-offset-3">
        <label for="setupEngineers" class="control-label">Engineers</label>
        <input type="number" class="form-control" name="setupEngineers" ng-model="formData.engineers" required>
    </div>
</div>

<div class="text-center">
    <a ui-sref="setup.targets" class="btn btn-info">
        Next <span class="glyphicon glyphicon-menu-right"></span>
    </a>
</div>
