﻿<div class="form-group row">
    <div class="col-md-6 col-md-offset-3">
        <label for="setupTimescaleStart" class="control-label">Start Date</label>
        <input type="text" class="form-control datepicker" name="setupTimescaleStart" ng-model="formData.start" data-provide="datepicker" data-date-format="dd/mm/yyyy" required />
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6 col-md-offset-3">
        <label for="setupTimescaleEnd" class="control-label">End Date</label>
        <input type="text" class="form-control datepicker" name="setupTimescaleEnd" ng-model="formData.end" data-provide="datepicker" data-date-format="dd/mm/yyyy" required />
    </div>
</div>

<div class="text-center">
    <a ui-sref="setup.resources" class="btn btn-info">
        Next <span class="glyphicon glyphicon-menu-right"></span>
    </a>
</div>