﻿@model IEnumerable<WorkPlanner.api.Models.Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Collections</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Collection Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CollectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CollectionID })
        </td>
    </tr>
}

</table>
