﻿@model IEnumerable<WorkPlanner.api.Models.Outage>

@{
    ViewBag.Title = "Index";
}

<h2>Assets</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Target Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            Collection
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.TargetDate.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Collection.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OutageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OutageID })
        </td>
    </tr>
}

</table>
