﻿<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    <a href="/#/setup/start" class="btn btn-info btn-lg">Get Started</a>
                </p>
            </div>
        </div>
    </div>
</div>