﻿body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.panel-button {
    padding: 2rem;
    background: #808080;
    display: block;
    margin-bottom: 2rem;
    color: #fff;
    border-radius: 3px;
}

.panel-button.blue {
    background: #0094ff;
}

.panel-button.work {
    background: rgb(106, 159, 44);
}

.panel-button.milestones {
    background: rgb(255, 179, 0);
}

.panel-button.darkblue {
    background: #4800ff;
}

.panel-button:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #fff;
}

.panel-button i {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.panel-button span {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

h3 {
    margin-bottom: 2rem;
}